<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
  <appSettings>
    <add key="Mapbox:AccessToken" value="pk.eyJ1IjoiYml6bW9udCIsImEiOiJjaXAybGcyMTMwMDBkd3RsdG1uZ3BrYjJpIn0.StNgrONpY3nKCdSzNX_lzg"/>
  </appSettings>
  <connectionStrings>
    <add name="CourierHelperDb" connectionString="" providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>