<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="Mapbox:AccessToken" value="pk.eyJ1IjoiYml6bW9udCIsImEiOiJjaXAybGcyMTMwMDBkd3RsdG1uZ3BrYjJpIn0.StNgrONpY3nKCdSzNX_lzg"/>
  </appSettings>
  <connectionStrings>
    <add name="CourierHelperDb" connectionString="Data Source=DESKTOP-FK4EC54;Initial Catalog=CourierHelperDb;Integrated Security=True;Connect Timeout=30;Encrypt=False;TrustServerCertificate=True;ApplicationIntent=ReadWrite;MultiSubnetFailover=False" providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>